/* 1201 */

@media (max-width: 75.0625rem) {
     :root {
        --gutter: 0.5rem
    }
    html {
        font-size: 0.875rem;
    }
    .news-item {
        margin-bottom: 0.9375rem;
    }
    .news-item .image {
        margin-right: 0.9375rem;
    }
    .contact img {
        display: none;
    }
    .contact {
        overflow: hidden;
    }
}


/* 1024 */

@media (max-width: 64rem) {
    .proc-item .icon img {
        width: 6vw;
        height: 6vw;
    }
    .register .image {
        right: -20.9375rem;
    }
    .logo img {
        height: 3.125rem;
    }
    .banner-content ul li {
        line-height: 1.875rem;
    }
}


/* 950 */

@media (max-width: 59.375rem) {
    .banner-content .btn {
        margin-top: 1.5625rem;
    }
    .proc-item {
        height: 35.625rem;
    }
    .proc-item p {
        min-height: 7.5rem;
    }
    .proc-item .dots {
        height: 5.9375rem;
    }
    .register .image {
        display: none;
    }
    .title-swipper .swiper-slide {
        width: fit-content;
        padding-right: 0.9375rem;
    }
}


/* 820 */

@media (max-width: 51.25rem) {
    .benefit .left {
        width: 30%;
    }
    .benefit .right {
        width: 70%;
    }
    .prices-wrapper:last-child {
        overflow: scroll;
    }
    .scroll-x {
        white-space: nowrap;
        width: 75rem;
    }
    .question-wrapper img {
        display: none;
    }
    .prices .titles {
        width: 50%;
    }
    .prices-content {
        width: 50%;
    }
    .proc-item {
        height: 36.5625rem;
    }
    .while-cover .image {
        width: 19.375rem;
    }
    .really-content .image {
        right: -5.625rem;
        width: 26.125rem;
        height: 27.25rem;
    }
    .banner {
        min-height: 30.9375rem;
    }
    .main-menu li {
        margin-left: 1.875rem;
    }
}


/* 768 */

@media (max-width: 48rem) {
    .prices .titles {
        width: 40%;
    }
    .prices-content {
        width: 60%;
    }
    .temp-item {
        width: 33.3333333%;
    }
    .proc-item {
        height: 40.9375rem;
    }
    .proc-item p {
        min-height: 10rem;
    }
    .custommer-item {
        max-width: 19.5625rem;
    }
    .footer-item {
        margin-right: 1.875rem;
    }
    .logo img {
        height: 2.8125rem;
    }
}


/* 767 */

@media (max-width: 47.9375rem) {
    .main-menu {
        position: fixed;
        background: rgba(244, 174, 0, .9);
        flex-direction: column;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        z-index: 99999;
        font-size: 1.5625rem;
        text-align: center;
        justify-content: center;
        transition: 0.3s ease-out;
    }
    .main-menu li {
        margin-left: 0;
        margin-bottom: 1.875rem;
    }
    .main-menu li a {
        color: white;
    }
    .menu-icon {
        display: block;
        font-size: 1.5625rem;
        color: #666666;
        z-index: 999999;
    }
    .main-menu.show {
        left: 0;
    }
    .center-title {
        font-size: 1.125rem;
        line-height: 1.375rem;
    }
}


/* 600 */

@media (max-width: 37.5rem) {
    .box-price .btn i {
        display: none;
    }
    .benefit .left,
    .benefit .right {
        width: 100%;
    }
    .benefit .right {
        margin-left: -0.9375rem;
    }
    .temp-item {
        width: 50%;
    }
    .price-block .image,
    .really-content .image,
    .while-cover .image,
    .proc-item .dots,
    .proc-item .icon {
        display: none;
    }
    .price-content p,
    .really-item p {
        max-width: 100%;
    }
    .service-item {
        width: 100%;
    }
    .swiper-pagination {
        margin-left: 0;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .proc-content {
        background: none;
        flex-wrap: wrap;
    }
    .proc-item {
        box-shadow: 0rem 0.6875rem 1.3125rem #d4d8e4;
        border-radius: 0.625rem;
        margin-bottom: 0.9375rem;
        padding: 1.25rem 0.9375rem;
        background: white;
    }
    .proc-item,
    .proc-item:nth-child(2n),
    .proc-item:nth-child(2n) .meta {
        width: 100%;
        height: auto;
        flex-direction: row;
    }
    .proc-item .meta {
        display: flex;
        text-align: left;
    }
    .proc-item p {
        min-height: auto;
        text-align: left;
    }
    .proc-item .title {
        margin-top: 0;
    }
    .proc-item .num {
        font-size: 2.8125rem;
        line-height: 2.8125rem;
        width: 4.375rem;
        flex-shrink: 0;
    }
    .proc-item:nth-child(2n) .title {
        margin-bottom: 0.75rem;
        margin-top: 0;
    }
    .news-left,
    .news-right {
        width: 100%;
    }
    .news-left {
        margin-bottom: 1.875rem;
    }
    .form-group {
        flex-wrap: wrap;
    }
    .form-group label {
        width: 100%;
        text-align: left;
        margin-bottom: 0.3125rem;
    }
    .form-group input {
        max-width: 100%;
    }
    .banner-content .banner-slogan {
        font-size: 1rem;
        line-height: 1rem;
        height: 1.125rem;
    }
    .banner-content .title {
        font-size: 1.875rem;
    }
    .banner-content .banner-slogan {
        animation: none;
        border: none;
        margin-bottom: 1.875rem;
    }
    .proc-item:nth-child(2n) .meta .content {
        flex-direction: column;
    }
}


/* 450 */

@media (max-width: 28.125rem) {
    .temp-item {
        width: 100%;
    }
    .benefit-item {
        width: 100%;
    }
    .benefit-item:nth-child(2n) {
        position: relative;
        top: 0 !important;
    }
    .price-content .title,
    .center-title {
        font-size: 1.375rem;
        line-height: 1.625rem;
    }
    .prices .titles {
        display: none;
    }
    .prices-content,
    .box-price {
        width: 100%;
    }
    .prices-content {
        flex-wrap: wrap;
    }
    .desk-hidden {
        display: block;
    }
    .get-height {
        height: auto !important;
        display: flex;
        padding: 0.625rem;
        text-align: left;
        flex-wrap: nowrap;
    }
    .get-height span:first-child {
        margin-right: auto;
        padding-right: 1.25rem;
    }
    .box-price {
        margin-bottom: 1.25rem;
        border: solid 0.0625rem var(--color-main);
        border-radius: 0.375rem;
    }
    .price-group {
        flex-shrink: 0;
        text-align: center;
    }
    .price-group .donwn-line {
        margin-top: 0;
        text-align: center;
        padding-right: 0 !important;
    }
    .desk-hidden span {
        color: #666666;
        display: block;
    }
    .box-price .btn i {
        display: block;
    }
}